@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.isOptions > #root > section {
  width: 100%;
}
